.parameterName {
    font-weight: 500;
    display: inline-block; 
    margin-right: 10px;
  }
  
  .customLabel {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    position: relative;
  }
  
  .parameterName {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23aaa' d='M5 7L1 3h8z'/%3E%3C/svg%3E");

    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;  
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%; 
  }
  
  select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  select::-ms-expand {
    display: none; 
  }
  
  select {
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 10px; 
    padding-right: 30px;
  }
  
  select:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }