.serverString {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  .parameterName {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  


.customTextarea{
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: all 0.3s ease;
    width: 100%; 
}